.portfolio__projects {
  display: grid;
  grid-template-areas:
    "project-1"
    "project-2"
    "project-3"
    "project-4"
    "project-5"
    "project-6";
  gap: 1.25rem;

  @media screen and (min-width: 768px) {
    grid-template-areas:
      "project-1 project-2"
      "project-4 project-3"
      "project-5 project-6";
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (min-width: 993px) {
    grid-template-areas:
      "project-1 project-2 project-3"
      "project-4 project-2 project-6"
      "project-4 project-5 project-6";
    grid-template-columns: repeat(3, 1fr);
  }
}

.portfolio__project {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.portfolio__project--1 {
  grid-area: project-1;
}

.portfolio__project--2 {
  grid-area: project-2;
}

.portfolio__project--3 {
  grid-area: project-3;
}

.portfolio__project--4 {
  grid-area: project-4;
}

.portfolio__project--5 {
  grid-area: project-5;
}

.portfolio__project--6 {
  grid-area: project-6;
}

.portfolio__project:active {
  img {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
  }

  .portfolio__project-title {
    color: $orange;
  }
}

@media (hover: hover) {
    .portfolio__project:hover {
        img {
          transform: scale(1.1);
          -webkit-transform: scale(1.1);
          -moz-transform: scale(1.1);
          -ms-transform: scale(1.1);
          -o-transform: scale(1.1);
        }
      
        .portfolio__project-title {
          color: $orange;
        }
      }
}
