// * Font Size 

$twelve : 0.75rem;
$fourteen : 0.874rem;

// * Colors

$white : #fff;
$black : #202020;
$lightblack : #20202012;
$light : #FAFAFA;
$blue : #A2D2FF;
$gray : #D3CECB;
$orange : #DF5646;
$brown : #988C86;

// * Padding Sections

$padding-section : 4rem 1rem;
$padding-section-md : 4rem 3rem;
$padding-section-lg : 4rem 5.813rem 4rem 16rem;

// * Transitions 

$transition : 0.5s ease-in-out;

